{% extends "general/layout.html" %}

{% block page_content %}

<div class="form-container">
  <div class="form-box">
    <h2>Nueva tarea</h2>

    <form method="POST">
      {% csrf_token %}

      <label for="id_title">Tarea</label>
      {{ form.title }}

      <label for="id_due_date">Fecha límite</label>
      {{ form.due_date }}

      <label for="id_due_time">Hora límite</label>
      {{ form.due_time }}

      <div class="checkbox-row">
        <div>
          {{ form.completed }}
        </div>
        <label for="id_completed">Completada</label>
      </div>

      <div class="buttons-row">

        <button type="submit" class="btn-primary">Guardar</button>

        <a href="{% url 'home' %}" class="btn-primary">
          Volver
        </a>
      </div>
  </div>
  </form>

</div>
</div>

{% endblock %}